<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/weather.png" type="image/png">
    <title>About - Weather App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Weather App is a small NodeJS project created by Miguel Rivera.</p>
        <p>Get access to your current weather using the Mapbox's Geolocation API and WeatherStack's Weather API.</p>
    </div>
    {{>footer}}
</body>
</html>