<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/weather.png" type="image/png">
    <title>Help - Weather App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/robot.png" alt="A Robot!">
        <p>{{ message }}</p>
        <nav class="help-links">
            <a href="/">I want to get my weather</a>
            <a href="/about">I want to learn more about this app</a>
            <a href="https://nodejs.org/en/" target="_blank">I want to know more about NodeJS</a>
            <a href="https://www.mapbox.com/" target="_blank">I want to know more about Mapbox</a>
            <a href="https://weatherstack.com/" target="_blank">I want to know more about WeatherStack</a>
        </nav>
    </div>
    {{>footer }}
</body>
</html>